[Unit]
Description=Test service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

Environment="SPRING_DATASOURCE_URL=jdbc:mysql://_host_:3306/restarauntFinder"
Environment="SPRING_DATASOURCE_USERNAME=_username_"
Environment="SPRING_DATASOURCE_PASSWORD=_password_"
Environment="BOT_TOKEN=_token_"

User=ubuntu
Group=ubuntu

Type=simple

WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/java -jar rest_finder-0.0.1.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
